html, body {
    margin: 0px;
    padding: 0px 0px 50px 0px;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.header {
    background-color: #42b983;
    color: #ffffff;
    font-size: 24px;
    padding: 20px;
}

.footer {
    background-color: #2c3e50;
    color: #ffffff;
    font-size: 24px;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.menu {
    margin-top: 30px;
}

.menu a {
    margin-left: 30px;
    margin-right: 30px;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

.text {
    text-align: left;
    padding: 0px 50px 0px 50px
}
